# file extensions
**/*.pyc
**/*.h5
**/*.p
!test/test_data/*.p
*.swp
.coverage

# folder
2023_train_lstm_for_nextgen/runs/*
2023_colorado_swe/runs/*
build/*
dist/*
neuralhydrology.egg-info/*
.vscode/*
.idea/*
runs/
configs/*
.ipynb_checkpoints/
data/*
docs/build/*
